.chessBoard-wrapper{
    display: flex;
}

#chessBoard{
    border: 2px solid;
}

.cell{
    width: 80px;
    height: 80px;
    border: 1px solid;
    font-size: 20px;
    font-weight: 500;
}

.black{
    background-color: rgb(174, 109, 204);
}

.white{
    background-color: rgb(209, 229, 247);
}

.chessBoardRow{
    display: flex;
}

.markingOfCell{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}

.numbers, .letters{
    display: flex;
    flex-direction: column;
    gap: 2px;
    user-select: none;
}

.letters{
    flex-direction: row;
    padding-left: 80px;
}

.number, .letter{
    width: 80px;
    height: 80px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chessPieceWrapper{
    user-select: none;
}

.blackChessPiece, .whiteChessPiece, .chosenPiece, .movedPiece{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.chosenPiece{
    position: relative;
    bottom: 15px;
}

.way-to-move-piece{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    user-select: none;
    color: rgb(43, 43, 43);
}