#chessBoard{
    border: 2px solid;
}

.cell{
    width: 80px;
    height: 80px;
    border: 1px solid;
    font-size: 20px;
    font-weight: 500;
}

.black{
    background-color: rgb(174, 109, 204);
}

.white{
    background-color: rgb(209, 229, 247);
}

.chessBoardRow{
    display: flex;
}

.markingOfCell{
    height: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}


.letter{
    width: 100%;
    text-align: right;
    align-self: flex-end;
    padding-right: 3px;
}