<div class="chessBoard-wrapper">
    
    <div class="numbers">
        <div class="number" *ngFor="let number of dataForSpecialRow.numbers">{{number}}</div>
    </div>

    <div id="chessBoard">
        <div class="chessBoardRow" *ngFor="let row of chessBoardRows">
            <div *ngFor="let cell of row">
                <div class="{{cell.className}}">
                    <div class="markingOfCell">
                        <div class="chessPieceWrapper" *ngIf="cell.indexOfCell < 16 && chessBoardRows.indexOf(row) < 2">
                            <img #blackChessPiece (click)="chessmenService.getBlackChessPieceEvent(blackChessPiece, cell)" src="{{chessmenService.getOrderOfBlackFigures()[cell.indexOfCell]}}" alt="Sorry..." class="blackChessPiece" draggable="false">
                        </div>

                        <div class="chessPieceWrapper" *ngIf="chessBoardRows.indexOf(row) > 5">
                            <img #whiteChessPiece (click)="chessmenService.getWhiteChessPieceEvent(whiteChessPiece)" src="{{chessmenService.getOrderOfWhiteFigures()[cell.indexOfCell - 48]}}" alt="Sorry..." class="whiteChessPiece" draggable="false">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="letters">
    <div class="letter" *ngFor="let letter of dataForSpecialRow.letters">{{letter}}</div>
</div>
